/.vs
/Assets/Scenes/
/Assets/Scripts/
/Assets/Plugins/Android/AndroidManifest.xml
/Logs
/obj
/ProjectSettings
/ios-build
Temp/
Obj/
UnityGenerated/
Library/
*.pyc
*.meta

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
proguard/
*.iml
*.ipr
*.iws
.idea/
build/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
