Example/.vs
Example/Assets/Scenes/
Example/Assets/Scripts/
Example/Logs
/obj
/ProjectSettings
/ios-build
Example/Temp/
Example/Obj/
Example/UnityGenerated/
Example/Library/
*.pyc
*.meta

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
proguard/
*.iml
*.ipr
*.iws
.idea/
build/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Example/iOS
.vsconfig
